In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow import keras
from sklearn.model_selection import train_test_split

In [25]:
df=pd.read_csv("/content/Churn_Modelling.csv")

Data Preprocessing

In [26]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [27]:
# dropping RowNumber and CustomerId and Surname as of no use
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [30]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [32]:
#seeing unique values in all columns containing text
for columns in df:
  if df[columns].dtype=='object':
    print (f'{columns}:{df[columns].unique()}')

Geography:['France' 'Spain' 'Germany']
Gender:['Female' 'Male']

In [39]:
#replacing Female and male with 0 and 1
df['Gender'].replace(['Male','Female'],[1,0],inplace=True)

In [48]:
#saving df inanother df to save progress
df2=df

In [50]:
#One hot encoding for Geography
df=pd.get_dummies(data=df,columns=['Geography'])

In [52]:
#checking for one hot encoded columns
df.dtypes

CreditScore            int64
Gender                 int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [55]:
#seeing if any columns of text remain
for columns in df:
  if df[columns].dtype=='object':
    print (columns)

In [56]:
#examining values each type of values in each column
for columns in df:
  print (f'{columns}:{df[columns].unique()}')

CreditScore:[619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Gender:[0 1]
Age:[42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure:[ 2  1  8  7  4  6  3 10  5  9  0]
Balance:[     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts:[1 3 2 4]
HasCrCard:[1 0]
IsActiveMember:[1 0]
EstimatedSalary:[101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited:[1 0]
Geography_France:[1 0]
Geography_Germany:[0 1]
Geography_Spain:[0 1]

In [ ]:
#CreditScore,Age,Balance,EstimatedSalary,NumOfProducts and Tenure needs to be scale

In [63]:
#scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols_to_scale=['CreditScore','Age','Balance','EstimatedSalary','Tenure','NumOfProducts']
df[cols_to_scale]=scaler.fit_transform(df[cols_to_scale])

In [67]:
#checking for any null values
df.isnull().sum().sum()

0

In [65]:
#final look at data
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1,1,0,0
1,0.516,0,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0,0,0,1
2,0.304,0,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1,1,0,0
3,0.698,0,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0,1,0,0
4,1.000,0,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,1,0.283784,0.5,0.000000,0.333333,1,0,0.481341,0,1,0,0
9996,0.332,1,0.229730,1.0,0.228657,0.000000,1,1,0.508490,0,1,0,0
9997,0.718,0,0.243243,0.7,0.000000,0.000000,0,1,0.210390,1,1,0,0
9998,0.844,1,0.324324,0.3,0.299226,0.333333,1,0,0.464429,1,0,1,0
9999,0.884,0,0.135135,0.4,0.518708,0.000000,1,0,0.190914,0,1,0,0

In [71]:
#Splitting data for train and test 1/3

x=df.drop('Exited',axis='columns')
x.dtypes

CreditScore          float64
Gender                 int64
Age                  float64
Tenure               float64
Balance              float64
NumOfProducts        float64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [72]:
#Splitting data for train and test 2/3
y=df['Exited']
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [73]:
#Splitting data for train and test 3/3
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

Building Model

In [74]:
x_train.shape

(8000, 12)

In [92]:
#relu in hidden layers )experimented and found all have almost same accuracy
#sigmoid in output layer as it is good for classifying
#Adam as optimizer as mostly preffered
#binary_crossentropy as los because binary classification

model=keras.Sequential([
    keras.layers.Dense(12,input_shape=(12,),activation='relu'),
    keras.layers.Dense(6,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

model.compile(optimizer='Adam',
              loss='binary_crossentropy',
              metrics=['Accuracy'])

model.fit(x_train,y_train,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5120 - Accuracy: 0.7949
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4754 - Accuracy: 0.7955
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4610 - Accuracy: 0.7955
Epoch 4/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4508 - Accuracy: 0.7955
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4442 - Accuracy: 0.7955
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4376 - Accuracy: 0.8031
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4330 - Accuracy: 0.8073
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4283 - Accuracy: 0.8129
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4240 - Accuracy: 0.8161
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4195 - Accuracy: 0.8177
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4142 - Accuracy: 0.8226
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4097 - Accuracy: 0.8256
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4048 - Accuracy: 0.8265
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3989 - Accuracy: 0.8291
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3941 - Accuracy: 0.8310
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3889 - Accuracy: 0.8332
Epoch 17/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3846 - Accuracy: 0.8379
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3796 - Accuracy: 0.8409
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3762 - Accuracy: 0.8422
Epoch 20/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3725 - Accuracy: 0.8461
Epoch 21/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3701 - Accuracy: 0.8457
Epoch 22/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3668 - Accuracy: 0.8489
Epoch 23/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3646 - Accuracy: 0.8479
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3622 - Accuracy: 0.8500
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3603 - Accuracy: 0.8506
Epoch 26/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3587 - Accuracy: 0.8482
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3573 - Accuracy: 0.8505
Epoch 28/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3558 - Accuracy: 0.8537
Epoch 29/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3554 - Accuracy: 0.8537
Epoch 30/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3536 - Accuracy: 0.8579
Epoch 31/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3532 - Accuracy: 0.8554
Epoch 32/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3521 - Accuracy: 0.8535
Epoch 33/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3513 - Accuracy: 0.8558
Epoch 34/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3512 - Accuracy: 0.8549
Epoch 35/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3511 - Accuracy: 0.8570
Epoch 36/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3500 - Accuracy: 0.8541
Epoch 37/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3496 - Accuracy: 0.8574
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - Accuracy: 0.8562
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3480 - Accuracy: 0.8568
Epoch 40/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3493 - Accuracy: 0.8562
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - Accuracy: 0.8549
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3473 - Accuracy: 0.8585
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - Accuracy: 0.8574
Epoch 44/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - Accuracy: 0.8568
Epoch 45/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - Accuracy: 0.8585
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - Accuracy: 0.8581
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3452 - Accuracy: 0.8575
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - Accuracy: 0.8571
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - Accuracy: 0.8583
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - Accuracy: 0.8566

In [93]:
model.evaluate(x_test,y_test)

63/63 [==============================] - 0s 1ms/step - loss: 0.3265 - Accuracy: 0.8560

[0.3265465199947357, 0.8560000061988831]